/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Services Section
6.  Class Section
7.  Trainer Section
8.  Contact
9.  Footer Style
10. Login

-------------------------------------------------------------------*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html, body {
   height: 100%;
   font-family: "Poppins", sans-serif;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   color: #111111;
   font-weight: 400;
   font-family: "Poppins", sans-serif;
}

h1 {
   font-size: 70px;
}

h2 {
   font-size: 36px;
}

h3 {
   font-size: 30px;
}

h4 {
   font-size: 24px;
}

h5 {
   font-size: 18px;
}

h6 {
   font-size: 16px;
}

p {
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   color: #6b6b6b;
   font-weight: 400;
   line-height: 26px;
   margin: 0 0 15px 0;
}

img {
   max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
   outline: none;
}

a:hover, a:focus {
   text-decoration: none;
   outline: none;
   color: #fff;
}

ul, ol {
   padding: 0;
   margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
   text-align: center;
   margin-bottom: 45px;
}

.section-title h2 {
   color: #111111;
   font-size: 40px;
   font-weight: 600;
   text-transform: uppercase;
}

.set-bg {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

.spad {
   padding-top: 100px;
   padding-bottom: 100px;
}

.spad-2 {
   padding-top: 50px;
   padding-bottom: 70px;
}

.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
   color: #fff;
}

/* buttons */

.primary-btn {
   display: inline-block;
   font-size: 16px;
   font-weight: 600;
   padding: 0 12px;
   color: #ffffff;
   text-align: center;
   width: 160px;
   height: 46px;
   /* border-left: 2px solid #ffff;
	border-right: 2px solid #1111; */
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   background-position: 0 0, 0 100%;
   background-repeat: no-repeat;
   background-size: 100% 2px;
   background-color: #57008B;
   /* background-image: -webkit-gradient(linear, left top, right top, from(#ffff), to(#1111)), -webkit-gradient(linear, left top, right top, from(#ffff), to(#1111));
	background-image: -o-linear-gradient(left, #ffff 0%, #1111 100%), -o-linear-gradient(left, #ffff 0%, #1111 100%);
	background-image: linear-gradient(to right, #ffff 0%, #1111 100%), linear-gradient(to right, #ffff 0%, #1111 100%); */
   -webkit-transition-duration: 1000ms;
   -o-transition-duration: 1000ms;
   transition-duration: 1000ms;
   line-height: 45px;
   position: relative;
   z-index: 1;
}

.primary-btn:after {
   color: #fff;
   -webkit-transition-duration: 500ms;
   -o-transition-duration: 500ms;
   transition-duration: 500ms;
   background-color: #57008B;
   /* background: -webkit-gradient(linear, left top, right top, from(#ffff), to(#1111));
	background: -o-linear-gradient(left, #ffff, #1111);
	background: linear-gradient(to right, #ffff, #1111); */
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: 1;
}

/* Preloder */

#preloder {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 999999;
   background: #000;
}

.loader {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -13px;
   margin-left: -13px;
   border-radius: 60px;
   animation: loader 0.8s linear infinite;
   -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border: 4px solid #57008B;
      border-left-color: transparent;
   }
   50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      border: 4px solid #00FCCA;
      border-left-color: transparent;
   }
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border: 4px solid #FF00CE;
      border-left-color: transparent;
   }
}

@-webkit-keyframes loader {
   0% {
      -webkit-transform: rotate(0deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
   50% {
      -webkit-transform: rotate(180deg);
      border: 4px solid #673ab7;
      border-left-color: transparent;
   }
   100% {
      -webkit-transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
   }
}

/*---------------------
  Header
-----------------------*/

.header-section {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   border-bottom: 1px solid #BAB9B9;
}

.logo {
   float: left;
}

.logo a {
   display: inline-block;
   padding: 24px 0 29px;
}

.nav-menu {
   float: right;
}

.nav-menu .mainmenu {
   display: inline-block;
}

.nav-menu .mainmenu ul li {
   list-style: none;
   display: inline-block;
   margin-right: 27px;
}

.nav-menu .mainmenu ul li.active a:after {
   opacity: 1;
}

.nav-menu .mainmenu ul li a {
   font-size: 16px;
   color: #ffffff;
   font-weight: 600;
   padding: 28px 0;
   position: relative;
}

.nav-menu .mainmenu ul li a:hover:after {
   opacity: 1;
}

.nav-menu .mainmenu ul li a:after {
   position: absolute;
   left: 0;
   bottom: 24px;
   width: 100%;
   height: 2px;
   background: #FF00CE;
   content: "";
   opacity: 0;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.nav-menu .signup-btn {
   display: inline-block;
   margin: 16px 0px 16px 30px;
}

.nav-menu .signup-btn:after {
   opacity: 0;
}

.slicknav_menu {
   display: none;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-section {
   height: 880px;
   padding-top: 200px;
}

.hero-section .primary-btn {
   margin-left: 12em;
   width: auto;
   padding: 0 20px;
}

.hero-text span {
   font-size: 35px;
   color: #00FCCA;
   text-transform: uppercase;
   letter-spacing: 2px;
   /* font-weight: 600; */
   margin-bottom: 18px;
}

.hero-text h1 {
   font-size: 90px;
   color: #ffffff;
   font-weight: 600;
}

.hero-text p {
   margin-top: 3em;
   font-size: 20px;
   color: #ffffff;
   margin-bottom: 44px;
}

/*---------------------
  About Section
-----------------------*/

.about-pic {
   position: relative;
}

.about-pic img {
   min-width: 100%;
}

.about-pic .play-btn {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-41.5px, -41.5px);
   -ms-transform: translate(-41.5px, -41.5px);
   transform: translate(-41.5px, -41.5px);
}

.about-text {
   padding-top: 15px;
   padding-left: 40px;
}

.about-text h2 {
   font-size: 40px;
   color: #111111;
   text-transform: uppercase;
   font-weight: 700;
   margin-bottom: 25px;
}

.about-text p {
   color: #6b6b6b;
}

.about-text p.first-para {
   margin-bottom: 10px;
}

.about-text p.second-para {
   margin-bottom: 50px;
}

.about-text img {
   margin-bottom: 25px;
}

.about-text .at-author h4 {
   font-size: 22px;
   color: #111111;
   font-weight: 600;
}

.about-text .at-author span {
   font-size: 12px;
   color: #f15d44;
}

.about-section .about-page .about-text {
   padding-top: 8px;
}

.about-section.about-page .about-text h2 {
   margin-bottom: 20px;
}

.about-section.about-page .about-text .second-para {
   margin-bottom: 28px;
}

/*---------------------
  Service Section
-----------------------*/

.services-pic {
   margin-left: -15px;
   margin-right: -15px;
}

.services-pic img {
   height: 660px;
   min-width: 100%;
}

.services-item {
   margin-left: -15px;
   margin-right: -15px;
   /* background: #141414; */
   padding-top: 130px;
   position: relative;
   padding-left: 70px;
   padding-right: 45px;
   height: 330px;
}

.services-item.pd-b {
   padding-top: 118px;
}

.services-item img {
   position: absolute;
   left: 70px;
   top: 80px;
}

.services-item h4 {
   font-size: 22px;
   color: #ffffff;
   font-weight: 600;
   margin-top: 36px;
   margin-bottom: 20px;
}

.services-item p {
   color: #bdbdbd;
   margin-bottom: 0;
}

.services-section {
   background-image: url(../img/services/service-pic.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: top center;
}

/*---------------------
  Classes Section
-----------------------*/

.classes-section {
   padding-top: 90px;
   padding-bottom: 95px;
}

.classes-section.classes-page {
   padding-bottom: 60px;
}

.classes-section .section-title h2 {
   color: #58198C;
}

.classes-slider {
   margin: 0;
}

.classes-slider.owl-carousel .owl-dots {
   text-align: center;
   margin-top: 12px;
}

.classes-slider.owl-carousel .owl-dots button {
   width: 9px;
   height: 9px;
   display: inline-block;
   background: #ebebeb;
   border-radius: 50%;
   margin-right: 10px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

.classes-slider.owl-carousel .owl-dots button.owl-dot.active {
   width: 42px;
   border-radius: 50px;
   background: #FF0363;
}

.classes-slider.owl-carousel .owl-dots button:last-child {
   margin-right: 0;
}

.classes-slider .col-lg-4 {
   max-width: 100%;
}

.single-class-item {
   height: 255px;
   position: relative;
   margin-bottom: 30px;
}

.single-class-item .si-text {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.4);
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 15px;
}

.single-class-item .si-text h4 {
   text-align: center;
   font-size: 22px;
   font-weight: 600;
   color: #ffffff;
}

.single-class-item .si-text span {
   font-size: 14px;
   color: #ffffff;
}

.single-class-item .si-text span i {
   color: #e85d39;
   margin-right: 4px;
}

/*---------------------
  Trainer Section
-----------------------*/

.trainer-section {
   background-image: url(../img/trainer/BG.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: top center;
   padding-top: 90px;
   padding-bottom: 190px;
}

.trainer-section.about-trainer {
   background-image: url(../img/trainer/BG-about.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: top center;
   padding-top: 90px;
   padding-bottom: 190px;
}

.trainer-section h2 {
   color: white;
}

.single-trainer-item {
   position: relative;
}

.single-trainer-item:hover .trainer-text {
   height: 250px;
   bottom: -90px;
   padding: 26px 30px 30px;
   -webkit-box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.15);
   box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.15);
}

.single-trainer-item:hover .trainer-text p {
   opacity: 1;
}

.single-trainer-item:hover .trainer-text .trainer-social {
   opacity: 1;
   visibility: visible;
}

.single-trainer-item img {
   min-width: 100%;
}

.single-trainer-item .trainer-text {
   position: absolute;
   left: 50%;
   bottom: -55px;
   text-align: center;
   background: #ffffff;
   width: 310px;
   margin: 0 auto;
   -webkit-transform: translateX(-155px);
   -ms-transform: translateX(-155px);
   transform: translateX(-155px);
   -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
   box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
   padding: 20px 30px 18px;
   height: 90px;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
   overflow: hidden;
}

.single-trainer-item .trainer-text h5 {
   font-size: 20px;
   color: #111111;
   font-weight: 600;
   margin-bottom: 4px;
}

.single-trainer-item .trainer-text span {
   font-size: 16px;
   color: #FF00CE;
}

.single-trainer-item .trainer-text p {
   margin-top: 7px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.single-trainer-item .trainer-text .trainer-social {
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.single-trainer-item .trainer-text .trainer-social a {
   display: inline-block;
   font-size: 17px;
   color: #111111;
   margin-right: 25px;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.single-trainer-item .trainer-text .trainer-social a:hover {
   color: #FF00CE;
}

.single-trainer-item .trainer-text .trainer-social a:last-child {
   margin-right: 0;
}

/*---------------------
  Testimonial Section
-----------------------*/

.testimonial-section {
   position: relative;
}

.testimonial-section:after {
   position: absolute;
   left: 50%;
   top: 50%;
   width: 1100px;
   height: 540px;
   background: url(../img/testimonial/testimonial-bg.png);
   content: "";
   -webkit-transform: translate(-550px, -270px);
   -ms-transform: translate(-550px, -270px);
   transform: translate(-550px, -270px);
}

.testimonial-section .section-title {
   margin-bottom: 35px;
}

.testimonial-slider.owl-carousel .owl-item img {
   display: inline-block;
}

.testimonial-slider.owl-carousel .owl-nav button {
   font-size: 36px;
   color: #bdbdbd;
   position: absolute;
   left: -110px;
   top: 30%;
}

.testimonial-slider.owl-carousel .owl-nav button:hover {
   color: #ed8064;
}

.testimonial-slider.owl-carousel .owl-nav button.owl-next {
   left: auto;
   right: -110px;
}

.testimonial-slider .testimonial-item {
   text-align: center;
}

.testimonial-slider .testimonial-item p {
   font-size: 22px;
   color: #111111;
   line-height: 30px;
   margin-bottom: 60px;
}

.testimonial-slider .testimonial-item .ti-pic {
   width: 120px;
   height: 120px;
   margin: 0 auto;
   position: relative;
   z-index: 1;
}

.testimonial-slider .testimonial-item .ti-pic img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
}

.testimonial-slider .testimonial-item .ti-pic .quote {
   position: absolute;
   left: 20px;
   top: -22px;
   z-index: -1;
}

.testimonial-slider .testimonial-item .ti-pic .quote img {
   width: auto;
   height: auto;
   border-radius: initial;
}

.testimonial-slider .testimonial-item .ti-author {
   margin-top: 25px;
}

.testimonial-slider .testimonial-item .ti-author h4 {
   font-size: 22px;
   color: #111111;
   font-weight: 600;
   margin-bottom: 8px;
}

.testimonial-slider .testimonial-item .ti-author span {
   font-size: 16px;
   color: #FF0363;
}

/*---------------------
  Banner Section
-----------------------*/

.banner-section {
   padding-top: 65px;
   padding-bottom: 20em;
}

.banner-text {
   padding-top: 145px;
   padding-right: auto;
}

.banner-text h2 {
   font-size: 50px;
   color: #ffffff;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.banner-text p {
   font-size: 25px;
   line-height: 40px;
   color: #ffffff;
   margin-bottom: 50px;
}

.banner-section .primary-btn:after {
   background-color: #FF0363!important;
}

/*---------------------
  Latest BLog Section
-----------------------*/

.latest-blog-section {
   padding-bottom: 50px;
}

.latest-blog-section .section-title {
   margin-bottom: 55px;
}

.latest-blog-section.recommend {
   padding-top: 0;
}

.latest-blog-section.recommend h3 {
   font-weight: 600;
   color: #111111;
   text-transform: uppercase;
   margin-bottom: 52px;
}

/*---------------------
  Footer Banner Section
-----------------------*/

.footer-banner-item {
   height: 400px;
   margin-left: -15px;
   margin-right: -15px;
   position: relative;
   padding-top: 85px;
   padding-left: 60px;
   padding-right: 60px;
   z-index: 1;
}

.footer-banner-item:after {
   position: absolute;
   left: 50%;
   top: 50%;
   width: 520px;
   height: 310px;
   border: 18px solid rgba(255, 255, 255, 0.1);
   content: "";
   -webkit-transform: translate(-260px, -155px);
   -ms-transform: translate(-260px, -155px);
   transform: translate(-260px, -155px);
   z-index: -1;
}

.footer-banner-item span {
   font-size: 16px;
   color: #FF0363;
   font-weight: 700;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.footer-banner-item h2 {
   font-size: 35px;
   color: #ffffff;
   font-weight: 600;
   margin-top: 30px;
   margin-bottom: 5px;
}

.footer-banner-item p {
   color: #ffffff;
   margin-bottom: 42px;
}

.footer-banner-item .primary-btn {
   width: auto;
   padding-left: 2em;
   padding-right: 2em;
}

.footer-banner-item .primary-btn:after {
   background-color: #FF0363;
}

/*---------------------
  Footer
-----------------------*/

.footer-section {
   background: #111111;
   padding-top: 60px;
   padding-bottom: 30px;
}

.contact-option span {
   font-size: 25px;
   color: white;
}

.contact-option p {
   font-size: 18px;
   color: #00FCCA;
   margin-top: 15px;
}

.subscribe-option {
   overflow: hidden;
   padding: 0 45px;
   margin-bottom: 30px;
   margin-top: 43px;
}

.subscribe-option .so-text {
   float: left;
   padding: 34px 0 26px;
}

.subscribe-option .so-text h4 {
   color: #ffffff;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 6px;
}

.subscribe-option .so-text p {
   margin-bottom: 0;
   font-size: 14px;
   color: #ffffff;
}

.footer-section .subscribe-form {
   float: right;
   width: 340px;
   position: relative;
   margin: 15px
}

.footer-section .subscribe-form input {
   width: 100%;
   height: 46px;
   font-size: 14px;
   color: #bdbdbd;
   border: 1px solid #ffffff;
   padding-left: 22px;
}

.footer-section .subscribe-form button {
   font-size: 18px;
   color: #ffffff;
   background: #FF0363;
   border: none;
   height: 46px;
   position: absolute;
   right: 0;
   top: 0;
   padding: 0 22px;
}

.footer-section .footer-social {
   margin-top: 15px;
}

.footer-section .footer-social a {
   display: inline-block;
   font-size: 16px;
   color: #ffffff;
   width: 40px;
   height: 40px;
   background: #282828;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   margin-left: 4px;
}

.footer-section .footer-social a:first-child {
   margin-left: 0;
}

.footer-section .footer-social a:hover {
   background: #FF0363;
}

/*---------------------
  Breadcrumb Section
-----------------------*/

.breadcrumb-section {
   padding-top: 190px;
   height: 400px;
   padding-bottom: 25em;
}

.breadcrumb-text {
   text-align: center;
}

.breadcrumb-text h2 {
   font-size: 60px;
   color: #ffffff;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.breadcrumb-text .breadcrumb-option a {
   font-size: 16px;
   color: #ffffff;
   display: inline-block;
   margin-right: 10px;
   position: relative;
}

.breadcrumb-text .breadcrumb-option a:after {
   position: absolute;
   right: -10px;
   top: 0;
   content: "";
   font-family: "FontAwesome";
}

.breadcrumb-text .breadcrumb-option span {
   font-size: 16px;
   color: #bdbdbd;
   display: inline-block;
}

/*---------------------------
  Classes Timetable Section
----------------------------*/

.classes-timetable {
   padding-top: 0;
}

.classes-timetable .section-title h2 {
   color: #54008C;
}

.classes-timetable .nav-controls {
   text-align: center;
   margin-bottom: 42px;
}

.classes-timetable .nav-controls ul li {
   list-style: none;
   font-size: 16px;
   color: #111111;
   font-weight: 600;
   display: inline-block;
   margin-right: 48px;
   text-transform: uppercase;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   cursor: pointer;
}

.classes-timetable .nav-controls ul li.active {
   color: #FF0363;
}

.classes-timetable .nav-controls ul li:hover {
   color: #FF0363;
}

.classes-timetable .nav-controls ul li:last-child {
   margin-right: 0;
}

.schedule-table.filtering .ts-item {
   opacity: 0;
}

.schedule-table.filtering .ts-item.show {
   opacity: 1;
}

.schedule-table table {
   width: 100%;
   text-align: center;
   border: 1px solid #e1e1e1;
}

.schedule-table table thead tr th {
   font-size: 16px;
   color: #000000;
   font-weight: 600;
   text-transform: uppercase;
   padding: 25px 0;
   background: #f0f0f0;
}

.schedule-table table tbody tr {
   border-top: 1px solid #e5e5e5;
}

.schedule-table table tbody tr td {
   width: 146px;
   background: #ffffff;
   border-right: 1px solid #e5e5e5;
   padding: 18px 0;
   position: relative;
   z-index: 1;
}

.schedule-table table tbody tr td.ts-item {
   -webkit-transition: all 0.4s;
   -o-transition: all 0.4s;
   transition: all 0.4s;
}

.schedule-table table tbody tr td:after {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: -webkit-gradient(linear, left top, right top, from(#FF0363), to(#FF00CE));
   background: -o-linear-gradient(left, #FF0363, #FF00CE);
   background: linear-gradient(to right, #FF0363, #FF00CE);
   content: "";
   opacity: 0;
   z-index: -1;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}

.schedule-table table tbody tr td.hover-bg:hover h6 {
   color: #ffffff;
}

.schedule-table table tbody tr td.hover-bg:hover span {
   color: #ffffff;
}

.schedule-table table tbody tr td.hover-bg:hover .trainer-name {
   color: #ffffff;
}

.schedule-table table tbody tr td.hover-bg:hover:after {
   opacity: 1;
}

.schedule-table table tbody tr td.workout-time {
   font-size: 16px;
   color: #000000;
   font-weight: 600;
   text-transform: uppercase;
}

.schedule-table table tbody tr td h6 {
   font-weight: 600;
   color: #FF00CE;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.schedule-table table tbody tr td span {
   font-size: 14px;
   font-weight: 600;
   color: #111111;
}

.schedule-table table tbody tr td .trainer-name {
   font-size: 14px;
   color: #6b6b6b;
}

/*---------------------
  About Counter
-----------------------*/

.about-counter-text {
   background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
   background: -o-linear-gradient(left, #eb3c5a, #f67831);
   background: linear-gradient(to right, #eb3c5a, #f67831);
   overflow: hidden;
   padding: 35px 65px 15px;
}

.about-counter-text .single-counter {
   float: left;
   margin-right: 180px;
}

.about-counter-text .single-counter:last-child {
   margin-right: 0;
}

.about-counter-text .single-counter h1 {
   font-size: 72px;
   color: #ffffff;
   display: inline-block;
}

.about-counter-text .single-counter span {
   font-size: 72px;
   color: #ffffff;
   display: inline-block;
   line-height: 80px;
}

.about-counter-text .single-counter p {
   color: #ffffff;
   letter-spacing: 2px;
   text-transform: uppercase;
}

/*---------------------
  Gym Award Section
-----------------------*/

.award-text {
   padding-top: 20px;
}

.award-text h2 {
   font-size: 40px;
   font-weight: 600;
   color: #111111;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.award-text p {
   margin-bottom: 10px;
}

/*---------------------
  Gallery Section
-----------------------*/

.gallery-section {
   padding-bottom: 70px;
}

.gallery-controls {
   text-align: center;
   margin-bottom: 55px;
}

.gallery-controls li {
   list-style: none;
   display: inline-block;
   font-size: 16px;
   font-weight: 600;
   color: #111111;
   text-transform: uppercase;
   margin-right: 30px;
   cursor: pointer;
}

.gallery-controls li.active {
   color: #f15d44;
}

.gallery-controls li:last-child {
   margin-right: 0;
}

.gallery-filter img {
   min-width: 100%;
   margin-bottom: 30px;
}

/*---------------------
  Blog Section
-----------------------*/

.blog-section {
   padding-bottom: 50px;
}

.blog-section .section-title h2 {
   color: #54008C;
}

.single-blog-item {
   margin-bottom: 42px;
}

.single-blog-item img {
   min-width: 100%;
   margin-bottom: 30px;
}

.single-blog-item .blog-widget {
   margin-bottom: 10px;
}

.single-blog-item .blog-widget .bw-date {
   font-size: 14px;
   color: #bdbdbd;
   display: inline-block;
   margin-right: 8px;
}

.single-blog-item .blog-widget .tag {
   font-size: 14px;
   color: #f15d44;
}

.single-blog-item h4 a {
   color: #111111;
   font-weight: 600;
   line-height: 30px;
}

/*----------------------------
  Blog Details Hero Section
----------------------------*/

.blog-details {
   padding-top: 50px;
}

.blog-details-hero {
   height: 633px;
   padding-top: 280px;
}

.bd-hero-text {
   text-align: center;
}

.bd-hero-text span {
   font-size: 12px;
   color: #ffffff;
   text-transform: uppercase;
   background: #FF0363;
   letter-spacing: 2px;
   border-radius: 2px;
   padding: 4px 16px;
   display: inline-block;
}

.bd-hero-text h2 {
   color: #ffffff;
   font-size: 40px;
   font-weight: 600;
   line-height: 60px;
   text-transform: uppercase;
   margin-top: 15px;
}

.bd-text .bd-title {
   margin-bottom: 55px;
}

.bd-text .bd-title p {
   font-size: 17px;
   line-height: 30px;
}

.bd-text .bd-pic {
   margin-bottom: 35px;
}

.bd-text .bd-pic img {
   min-width: 100%;
   margin-bottom: 20px;
}

.bd-text .bd-more-text {
   margin-bottom: 52px;
}

.bd-text .bd-more-text .bm-item h4 {
   font-weight: 600;
   -webkit-column-rule: #111111;
   -moz-column-rule: #111111;
   column-rule: #111111;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.bd-text .bd-more-text .bm-item p {
   font-size: 17px;
   line-height: 30px;
}

.bd-text .bd-quote {
   background: -webkit-gradient(linear, left top, right top, from(#FF0363), to(#FF00CE));
   background: -o-linear-gradient(left, #FF0363, #FF00CE);
   background: linear-gradient(to right, #FF0363, #FF00CE);
   padding: 40px 60px 30px 60px;
   position: relative;
   border-radius: 10px;
   z-index: 1;
   margin-bottom: 52px;
}

.bd-text .bd-quote samp {
   position: absolute;
   left: 45px;
   top: 35px;
   font-size: 89px;
   color: #ffffff;
   opacity: 0.1;
   line-height: 68px;
   z-index: -1;
}

.bd-text .bd-quote p {
   font-size: 24px;
   color: #ffffff;
   line-height: 36px;
   margin-bottom: 23px;
}

.bd-text .bd-quote .quote-author h5 {
   color: #ffffff;
   margin-bottom: 4px;
}

.bd-text .bd-quote .quote-author span {
   font-size: 14px;
   color: #ffffff;
}

.bd-text .bd-last-para {
   margin-bottom: 55px;
}

.bd-text .bd-last-para p {
   font-size: 17px;
   line-height: 30px;
}

.bd-text .tag-share {
   overflow: hidden;
   border-top: 1px solid #ebebeb;
   padding-top: 30px;
   margin-bottom: 60px;
}

.bd-text .tag-share .tags {
   float: left;
}

.bd-text .tag-share .tags a {
   font-size: 12px;
   color: #111111;
   text-transform: uppercase;
   background: #ebebeb;
   letter-spacing: 2px;
   border-radius: 2px;
   padding: 4px 16px;
   display: inline-block;
   font-weight: 500;
   margin-right: 6px;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.bd-text .tag-share .tags a:hover {
   color: #ffffff;
   background: #f15d44;
}

.bd-text .tag-share .tags a:last-child {
   margin-right: 0;
}

.bd-text .tag-share .social-share {
   float: right;
}

.bd-text .tag-share .social-share span {
   font-size: 18px;
   color: #111111;
   display: inline-block;
}

.bd-text .tag-share .social-share a {
   color: #111111;
   display: inline-block;
   font-size: 16px;
   margin-left: 25px;
}

/*---------------------
  Map Section
-----------------------*/

.map {
   height: 612px;
   position: relative;
}

.map .section-title h2 {
   margin-top: 2em;
   color: #54008C;
}

.map iframe {
   width: 100%;
}

/*---------------------
  Contact Section
-----------------------*/

.contact-section {
   margin-top: 10em;
}

.contact-info h4 {
   font-weight: 600;
   color: #54008C;
   text-transform: uppercase;
   margin-bottom: 47px;
}

.contact-info .contact-address .ca-widget {
   overflow: hidden;
   margin-bottom: 16px;
}

.contact-info .contact-address .ca-widget .cw-icon {
   height: 74px;
   width: 74px;
   border: 1px solid #ebebeb;
   border-radius: 50%;
   text-align: center;
   line-height: 74px;
   float: left;
   margin-right: 28px;
}

.contact-info .contact-address .ca-widget .cw-text {
   padding-top: 12px;
}

.contact-info .contact-address .ca-widget .cw-text h5 {
   color: #bdbdbd;
   margin-bottom: 5px;
}

.contact-info .contact-address .ca-widget .cw-text p {
   margin-bottom: 0;
   color: #111111;
   font-size: 18px;
}

.contact-form h4 {
   font-weight: 600;
   color: #54008C;
   text-transform: uppercase;
   margin-bottom: 47px;
}

.contact-form form input {
   width: 100%;
   height: 51px;
   border: 1px solid #e1e1e1;
   padding-left: 20px;
   font-size: 16px;
   margin-bottom: 30px;
}

.contact-form form input::-webkit-input-placeholder {
   color: #9a9a9a;
}

.contact-form form input::-moz-placeholder {
   color: #9a9a9a;
}

.contact-form form input:-ms-input-placeholder {
   color: #9a9a9a;
}

.contact-form form input::-ms-input-placeholder {
   color: #9a9a9a;
}

.contact-form form input::placeholder {
   color: #9a9a9a;
}

.contact-form form input:focus {
   color: #111111;
}

.contact-form form textarea {
   width: 100%;
   height: 150px;
   border: 1px solid #e1e1e1;
   padding-left: 20px;
   font-size: 16px;
   padding-top: 10px;
   margin-bottom: 42px;
   resize: none;
}

.contact-form form textarea::-webkit-input-placeholder {
   color: #9a9a9a;
}

.contact-form form textarea::-moz-placeholder {
   color: #9a9a9a;
}

.contact-form form textarea:-ms-input-placeholder {
   color: #9a9a9a;
}

.contact-form form textarea::-ms-input-placeholder {
   color: #9a9a9a;
}

.contact-form form textarea::placeholder {
   color: #9a9a9a;
}

.contact-form form textarea:focus {
   color: #111111;
}

.contact-form form button {
   font-size: 14px;
   color: #ffffff;
   padding: 10px 33px;
   display: inline-block;
   background: #FF0363;
   border: none;
   text-transform: uppercase;
}

/*---------------------
  Login Section
-----------------------*/

.login-section {
   background: url(../img/login/login.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   padding-top: 10em;
}

.login-section .container {
   width: 30%;
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
   padding: 40px;
}

.login-section button {
   width: 49%;
}

.login-section p {
   padding-top: 5%;
   font-size: 13px;
}

.login-section .form-group, .login-section h4 {
   color: #FF00CE;
}

.login-section p {
   color: #FF00CE;
}

.login-section .sign-up {
   color: #00FCCA;
}

.login-section p.forget {
   color: #FF0363;
   margin-top: -3em;
}

.login-section .btn-primary {
   background-color: #18E3F1;
}

/*---------------------
  Signup Section
-----------------------*/

.signup-section {
   background: url(../img/login/signup.jpg);
   background-size: cover;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
   background-attachment: fixed;
   padding-top: 10em;
}

.signup-section .container {
   width: 50%;
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
   padding: 40px;
}

.signup-section button {
   width: 49%;
}

.signup-section p {
   padding-top: 5%;
   font-size: 13px;
}

.signup-section .form-group, .signup-section h4 {
   color: #FF00CE;
}

.signup-section p {
   color: #FF00CE;
   text-align: right;
}

.signup-section .sign-up {
   color: #00FCCA;
  
}

.signup-section .btn-primary {
   background-color: #18E3F1;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) {
   .container {
      max-width: 1170px;
   }
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .services-item {
      padding-top: 70px;
      padding-left: 37px;
      padding-right: 30px;
   }
   .services-item img {
      left: 40px;
      top: 35px;
   }
   .services-item.pd-b {
      padding-top: 70px;
   }
   .single-trainer-item .trainer-text {
      width: 282px;
      -webkit-transform: translateX(-141px);
      -ms-transform: translateX(-141px);
      transform: translateX(-141px);
   }
   .testimonial-section:after {
      width: 990px;
      -webkit-transform: translate(-495px, -270px);
      -ms-transform: translate(-495px, -270px);
      transform: translate(-495px, -270px);
   }
   .footer-banner-item:after {
      width: 450px;
      -webkit-transform: translate(-225px, -155px);
      -ms-transform: translate(-225px, -155px);
      transform: translate(-225px, -155px);
   }
   .testimonial-slider.owl-carousel .owl-nav button {
      left: -95px;
   }
   .testimonial-slider.owl-carousel .owl-nav button.owl-next {
      right: -95px;
   }
   .about-counter-text .single-counter {
      margin-right: 110px;
   }
   .about-text {
      padding-top: 0;
      padding-left: 20px;
   }
   .award-text {
      padding-top: 0;
   }
}

@media only screen and (max-width: 991px) {
   .testimonial-section:after {
      display: none;
   }
   .banner-text {
      margin-bottom: 30px;
   }
   .single-trainer-item {
      margin-bottom: 110px;
   }
   .trainer-section {
      padding-bottom: 80px;
   }
   .subscribe-option .so-text {
      float: none;
   }
   .footer-section .subscribe-form {
      float: none;
      margin: 5px 0 37px;
   }
   .award-text {
      margin-bottom: 30px;
   }
   .contact-info {
      margin-bottom: 30px;
   }
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .nav-menu .mainmenu ul li {
      margin-right: 12px;
   }
   .nav-menu .signup-btn {
      margin: 16px 0px 16px 0px;
      width: 145px;
   }
   .testimonial-slider.owl-carousel .owl-nav button {
      left: -25px;
   }
   .testimonial-slider.owl-carousel .owl-nav button.owl-next {
      right: -25px;
   }
   .about-counter-text .single-counter {
      margin-right: 30px;
   }
   .services-pic img {
      height: auto;
   }
}

/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {
   .slicknav_menu {
      display: block;
      background: transparent;
      padding: 0;
      position: relative;
      z-index: 55;
   }
   .slicknav_btn {
      margin: 22px 0;
      border-radius: 0;
   }
   .slicknav_nav {
      background: #222;
   }
   .slicknav_nav ul {
      margin: 10px;
   }
   .slicknav_nav a:hover {
      border-radius: 0;
      background: #f15d44;
      color: #ffffff;
   }
   .slicknav_nav a {
      padding: 10px;
   }
   .nav-menu .mainmenu {
      display: none;
   }
   .nav-menu .signup-btn {
      display: none;
   }
   .hero-text h1 {
      font-size: 65px;
   }
   .services-pic img {
      height: auto;
   }
   .testimonial-slider.owl-carousel .owl-nav button {
      left: -10px;
   }
   .testimonial-slider.owl-carousel .owl-nav button.owl-next {
      right: -10px;
   }
   .footer-banner-item:after {
      width: 450px;
      -webkit-transform: translate(-225px, -155px);
      -ms-transform: translate(-225px, -155px);
      transform: translate(-225px, -155px);
   }
   .banner-text {
      padding-top: 40px;
   }
   .footer-section .footer-social {
      float: none;
   }
   .about-section .about-text {
      padding-left: 0;
   }
   .about-counter-text {
      padding: 35px 35px 15px;
   }
   .about-counter-text .single-counter {
      float: none;
      margin-right: 0;
      text-align: center;
   }
   .schedule-table {
      overflow: auto;
   }
   .classes-timetable .nav-controls ul li {
      margin-right: 10px;
   }
   .gallery-controls li {
      margin-right: 15px;
   }
   .bd-text .tag-share .tags {
      float: none;
      margin-bottom: 10px;
   }
   .bd-text .tag-share .social-share {
      float: none;
   }
   .testimonial-slider.owl-carousel .owl-nav {
      text-align: center;
      padding-top: 20px;
   }
   .testimonial-slider.owl-carousel .owl-nav button {
      position: relative;
      margin: 0 5px;
   }
}

/* Small Mobile: 320px */

@media only screen and (max-width: 479px) {
   .hero-text h1 {
      font-size: 42px;
   }
   .single-trainer-item .trainer-text {
      width: 284px;
      -webkit-transform: translateX(-142px);
      -ms-transform: translateX(-142px);
      transform: translateX(-142px);
   }
   .footer-banner-item:after {
      width: 300px;
      -webkit-transform: translate(-150px, -155px);
      -ms-transform: translate(-150px, -155px);
      transform: translate(-150px, -155px);
   }
   .footer-banner-item {
      padding-top: 28px;
   }
   .subscribe-option {
      padding: 0 15px;
   }
   .footer-section .subscribe-form {
      width: 260px;
   }
   .services-item {
      padding-left: 40px;
      padding-top: 100px;
   }
   .services-item.pd-b {
      padding-top: 80px;
   }
   .services-item img {
      left: 40px;
      top: 40px;
   }
   .bd-text .tag-share .tags a {
      margin-bottom: 5px;
   }
   .gallery-controls li {
      margin-right: 10px;
   }
}